/* Archivo: mediaquery.css */

/* Ajustes para pantallas pequeñas (móviles) */
@media (max-width: 600px) {
    body {
        font-size: 14px;
    }

    #h1 {
        font-size: 1.2rem;
        margin-left: 4%;
    }

    .buscador input {
        width: 40%; /* Aumenta el ancho del input en móviles */
    }

    .carrito-icono {
        font-size: 1.8rem;
        top: 15px;
        right: 15px;
    }

    .carrito-icono .contador {
        font-size: 0.7rem;
        padding: 0.1em 0.4em;
        left:0px;
    }

    .carrito {
        width: 40%;
    }

    .productos .producto {
        display: inline-block;
        background-color: #fff;
        border: 1px solid #ddd;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        margin: 10px;
        width: calc(45% - 5px); /* Ancho para 2 productos por fila */
        vertical-align: top;
        text-align: center;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }
    
}

/* Ajustes para pantallas medianas (tablets) */
@media (min-width: 601px) and (max-width: 1024px) {
    body {
        font-size: 16px;
    }

    #h1 {
        font-size: 1.5rem;
        margin-left: 5%;
    }

    .buscador input {
        width: 30%; /* Ajusta el ancho del input en tablets */
    }

    .carrito-icono {
        font-size: 2rem;
        top: 20px;
        right: 20px;
    }

    .carrito {
        width: 30%;
    }

    .productos .producto {
        display: inline-block;
        background-color: #fff;
        border: 1px solid #ddd;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        margin: 10px;
        width: calc(32% - 5px); /* Ancho para 3 productos por fila */
        vertical-align: top;
        text-align: center;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }
}

/* Ajustes para pantallas grandes (desktops) */
@media (min-width: 1025px) {
    body {
        font-size: 18px;
    }

    #h1 {
        font-size: 2rem;
        margin-left: 6%;
    }

    .buscador input {
        width: 30%; /* Define un ancho más pequeño para el input en desktops */
    }

    .carrito-icono {
        font-size: 2.5rem;
        top: 10px;
        right: 10px;
    }

    .carrito {
        width: 300px; /* Mantiene el ancho original del carrito */
    }

    .productos .producto {
        display: inline-block;
        background-color: #fff;
        border: 1px solid #ddd;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        margin: 10px;
        width: calc(32% - 5px); /* Ancho para 3 productos por fila */
        vertical-align: top;
        text-align: center;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }
}
